/* styles.css */

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.banner-img {
  background: linear-gradient(
      to bottom,
      rgba(12, 89, 91, 1) 0%,
      rgba(12, 89, 91, 0.85) 25%,
      rgba(12, 89, 91, 0.5) 50%,
      rgba(12, 89, 91, 0.15) 75%,
      rgba(12, 89, 91, 0) 100%
    ),
    url("./Asser1.jpg") no-repeat center center/cover;

  /* background: linear-gradient(to bottom, rgba(12, 89, 91, 1) 0%, rgba(12, 89, 91, 0.85) 25%, rgba(12, 89, 91, 0.5) 50%, rgba(12, 89, 91, 0.15) 75%, rgba(12, 89, 91, 0) 100%),
url("./Asser1.jpg") no-repeat center center/cover; */
  /* background: linear-gradient(
      to bottom,
      rgba(0, 128, 128, 0.7),
      Dark green at the top rgba(0, 128, 128, 0.6),
      Semi-transparent in the middle rgba(0, 128, 128, 0.3),
      More transparent towards the bottom rgba(0, 128, 128, 0.1)
        /* Almost transparent at the bottom */
  /* ), */
  /* background: url("./Asser1.jpg") no-repeat center center/cover; */
  position: relative;
}
.banner-img::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  position: relative;
}

.content h2 {
  font-size: 55px;
}

.content {
  padding: 40px 40px;
}

.logo img {
  height: 100px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  /* background: url("./Asser1.jpg") no-repeat center center/cover; */
  /* background-image: linear-gradient(to right, transparent, rgba(255, 0, 0, 1)); */
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
}

.content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

.content p {
  font-size: 18px;
  line-height: 1.6;
}

.contact-form {
  background: linear-gradient(
    145deg,
    rgba(12, 89, 91, 0.9) 0%,
    rgba(12, 89, 91, 0.8) 50%,
    rgba(12, 89, 91, 0.7) 100%
  );
  /* background-color: rgba(0, 128, 128, 0.8); */
  padding: 50px 20px;
  border-radius: 8px;
  max-width: 90%;
  margin-left: auto;
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: bold;
}

.contact-form .input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: #008080;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #008080;
  color: #fff;
}

.wave {
  position: relative;
}
