/* styles.css */

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.banner-img {
  background: linear-gradient(
      to bottom,
      rgba(12, 89, 91, 1) 0%,
      rgba(12, 89, 91, 0.85) 25%,
      rgba(12, 89, 91, 0.5) 50%,
      rgba(12, 89, 91, 0.15) 75%,
      rgba(12, 89, 91, 0) 100%
    ),
    url("./Asser1.jpg") no-repeat center center/cover;

  /* background: linear-gradient(to bottom, rgba(12, 89, 91, 1) 0%, rgba(12, 89, 91, 0.85) 25%, rgba(12, 89, 91, 0.5) 50%, rgba(12, 89, 91, 0.15) 75%, rgba(12, 89, 91, 0) 100%),
url("./Asser1.jpg") no-repeat center center/cover; */
  /* background: linear-gradient(
      to bottom,
      rgba(0, 128, 128, 0.7),
      Dark green at the top rgba(0, 128, 128, 0.6),
      Semi-transparent in the middle rgba(0, 128, 128, 0.3),
      More transparent towards the bottom rgba(0, 128, 128, 0.1)
        /* Almost transparent at the bottom */
  /* ), */
  /* background: url("./Asser1.jpg") no-repeat center center/cover; */
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.banner-img::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  position: relative;
}

.content h2 {
  font-size: 55px;
}

.content {
  padding: 40px 40px;
}

.logo img {
  height: 100px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  /* background: url("./Asser1.jpg") no-repeat center center/cover; */
  /* background-image: linear-gradient(to right, transparent, rgba(255, 0, 0, 1)); */
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
}

.content h1 {
  font-size: 60px;
}

.content p {
  font-size: 18px;
  line-height: 1.6;
}

.contact-form {
  background: linear-gradient(
    145deg,
    rgba(12, 89, 91, 0.9) 0%,
    rgba(12, 89, 91, 0.8) 50%,
    rgba(12, 89, 91, 0.7) 100%
  );
  /* background-color: rgba(0, 128, 128, 0.8); */
  padding: 50px 20px;
  border-radius: 8px;
  max-width: 90%;
  margin-left: auto;
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: bold;
}

.contact-form .input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.contact-form button {
  width: 33%;
  padding: 10px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #008080;
  color: #fff;
}

.wave {
  position: relative;
}

input[type="text"] {
  background: transparent;
  border: 1px solid white;
}

input[type="email"] {
  background: transparent;
  border: 1px solid white;
}

.button-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.headline {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  line-height: 1em;
  text-transform: uppercase;
}

.headline-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; /* Bold weight */
  text-transform: uppercase;
}

.nav-links,
.call-now {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; /* Regular weight */
}
.call-now {
  color: rgb(16 130 133 / 91%);
  font-weight: 600;
}

.container ul {
  text-transform: uppercase;
}
.active-now {
  text-decoration: underline;
}

/* Hamburger menu icon */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

/* Responsive styles */
@media (max-width: 786px) {
  .nav-links2 {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #2d2d2d;
    flex-direction: column;
    width: 200px;
    text-align: right;
    padding: 20px;
  }

  .nav-links2.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
  .row {
    flex-direction: column;
  }

  .row > div {
    max-width: 100%;
  }

  .contact-form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  .content.col-sm-6 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  header {
    margin-bottom: 100px;
  }
  .contact-form h2 {
    font-size: 30px;
  }
  .content h1 {
    font-size: 40px;
  }
  .content h2 {
    font-size: 37px;
  }
  .content p {
    font-size: 15px;
  }
  .contact-form button {
    width: 43%;
  }
}

@media (max-width: 430px) {
  header {
    margin-bottom: 140px;
  }
  .contact-form h2 {
    font-size: 25px;
  }
  .contact-form button {
    width: 60%;
  }
}

/* Fullscreen Menu Styles */
.fullscreen-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.fullscreen-menu.active {
  display: flex;
}

.fullscreen-menu a {
  color: #fff;
  font-size: 24px;
  margin: 15px 0;
  text-decoration: none;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
